<!-- Footer -->
<footer class="text-center text-lg-start bg-secondary text-white">
    <!-- Section: Social media -->
    <section
      class="d-flex justify-content-center justify-content-lg-between"
    >
      <!-- Left -->
      <!-- <div class="me-5 d-none d-lg-block">
        <span></span>
      </div> -->
      <!-- Left -->
  
      <!-- Right -->
      <div>
        <a href="" class="me-4 text-reset">
          <i class="fab fa-facebook-f"></i>
        </a>
        <a href="" class="me-4 text-reset">
          <i class="fab fa-twitter"></i>
        </a>
        <a href="" class="me-4 text-reset">
          <i class="fab fa-google"></i>
        </a>
        <a href="" class="me-4 text-reset">
          <i class="fab fa-instagram"></i>
        </a>
        <a href="" class="me-4 text-reset">
          <i class="fab fa-linkedin"></i>
        </a>
        <a href="" class="me-4 text-reset">
          <i class="fab fa-github"></i>
        </a>
      </div>
      <!-- Right -->
    </section>
    <!-- Section: Social media -->
  
    <!-- Section: Links  -->
    <section class="">
      <div class="container text-center text-md-start mt-5">
        <!-- Grid row -->
        <div class="row mt-3">
          <!-- Grid column -->
          <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
            <!-- Content -->
            <h6 class="text-uppercase fw-bold mb-4">
              <i class="fas fa-gem me-3"></i>Arkorus
            </h6>
            <figure>
              <img class="col-md-12" src="https://github.com/devarkoru/cn-mf-portal/blob/main/src/assets/img/a499e55b-7150-40df-8b2f-e2b54711b76c.png?raw=true" alt="" srcset="">
            </figure>
            <p>
              Desarrollo de Videojuegos</p>
          </div>
          <!-- Grid column -->
  
          <!-- Grid column -->
          <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
            <!-- Links -->
            <h6 class="text-uppercase fw-bold mb-4">
              Redes sociales
            </h6>            
            <p>
              <a href="https://twitter.com/ArkraterCL" class="text-reset">Twitter</a>
            </p>
            <p>
              <a href="https://www.linkedin.com/in/cnoyarzun/" class="text-reset fa-linkedin">Linkedin</a>
            </p>
            <p>
              <a href="https://www.instagram.com/arkratersan/" class="text-reset">Instagram</a>
            </p>
          </div>
          <!-- Grid column -->
  
        
          <!-- Grid column -->
  
          <!-- Grid column -->
          <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
            <!-- Links -->
            <h6 class="text-uppercase fw-bold mb-4">
              Contacto
            </h6>
            <p><i class="fas fa-home me-3"></i> Santiago, CL</p>
            <p>
              <i class="fas fa-envelope me-3"></i>
              arkrater@gmail.com
            </p>
          </div>
          <!-- Grid column -->
        </div>
        <!-- Grid row -->
      </div>
    </section>
    <!-- Section: Links  -->
  
    <!-- Copyright -->
    <div class="text-center p-4" style="background-color: rgba(0, 0, 0, 0.05);">
      © 2022 Copyright
      
    </div>
    <!-- Copyright -->
  </footer>
  <!-- Footer -->